.btn {
    font-family: "Roboto-medium", Arial, Helvetica;
    border: 0;
    color: white;
    background-color: $blue;
    border-radius: 2rem;
    padding: .9rem;
    box-shadow: 0 .1rem 0.2rem rgba(0, 0, 0, 0.4);
    margin: 1.3rem 0 2rem 0;
}