.background__img {
    width: 100%;
}

@include sm {
.background__container {
    height: 300px;
    overflow: hidden;

    .background__img {
        object-fit: cover;
        position: relative;

        @include sm {
            bottom: 100px;
        }

        @include md {
            bottom: 200px;
        }
        @include lg {
            bottom: 280px;
        }
        @include xl {
            bottom: 330px;
        }
    }
}
}
