.background__img {
    width: 100%;
}

@include sm {
    .background__container {
        height: 300px;
        overflow: hidden;

        .background__img {
            object-fit: cover;
            position: relative;

            @include sm {
                bottom: 6.25rem;
            }

            @include md {
                bottom: 12.25rem;
            }
            @include lg {
                bottom: 17.5rem;
            }
            @include xl {
                bottom: 20.625rem;
            }
        }
    }
}

.background__container--noteenchantee {
    height: 300px;
    overflow: hidden;

    .background__img {
        object-fit: cover;
        position: relative;
        bottom: 6.25rem;

        @include sm {
            bottom: 12.25rem;
        }

        @include md {
            bottom: 25rem;
        }
        @include lg {
            bottom: 37.5rem;
        }
        @include xl {
            bottom: 43.75rem;
        }
    }
}

