@charset "UTF-8";
@font-face {
  font-family: "Roboto-Medium";
  src: url("./asset/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./asset/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./asset/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("./asset/fonts/Shrikhand-Regular.ttf");
}
.btn {
  font-family: "Roboto-medium", Arial, Helvetica;
  border: 0;
  color: white;
  background-color: #D76CDA;
  border-radius: 2rem;
  padding: 0.9rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
  margin: 1.3rem 0 2rem 0;
}

.background__img {
  width: 100%;
}

.header__logo {
  margin: 0.8rem;
}

.footer {
  background-color: #353535;
  padding: 1.3rem 1rem 2rem 1rem;
}
.footer__logo {
  color: white;
  display: inline-block;
  font-family: "Shrikhand", Arial, Helvetica;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.footer__link {
  margin-bottom: 0.3rem;
}
.footer__link .fas {
  padding-right: 0.5rem;
}
.footer__link a, .footer__link .fas {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a:link {
  text-decoration: none;
}

html {
  font-family: "Roboto-Medium", Arial, Helvetica;
}
html h1 {
  font-size: 1.5rem;
}
html h2 {
  font-size: 1.47rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
}
header .search__bar {
  box-shadow: inset 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 1rem;
  width: 100%;
}
header .search__bar input {
  border: 0;
  background-color: #EAEAEA;
  font-size: 1rem;
  width: 8rem;
  margin-left: 1rem;
  font-family: "Roboto-Bold", Arial, Helvetica;
}
header .search__bar input::placeholder {
  color: black;
  font-family: "Roboto-Bold", Arial, Helvetica;
}
header .search__bar input:focus {
  outline-width: 0;
}
header .search h1 {
  padding-top: 1.5rem;
}
header .search p {
  font-size: 1.2rem;
  font-family: "Roboto-Light", Arial, Helvetica;
}
header .search h1, header .search p {
  text-align: center;
}

.section__accueil {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5rem 1rem 2.5rem 1rem;
  justify-content: space-around;
}
.section__accueil h2 {
  width: 100%;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.section__accueil--fonctionnement .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  text-align: center;
  width: 335px;
  background-color: #F6F6F6;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.3rem;
  font-family: "Roboto-Medium", Arial, Helvetica;
  font-size: 1.1rem;
}
.section__accueil--fonctionnement .button .fas {
  padding-right: 1.5rem;
}
.section__accueil--fonctionnement .button::before {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #9356DC;
  position: relative;
  left: -1.65rem;
  padding: 0.2rem;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__accueil--fonctionnement .button__1::before {
  content: "1";
}
.section__accueil--fonctionnement .button__2::before {
  content: "2";
}
.section__accueil--fonctionnement .button__3::before {
  content: "3";
}

.card {
  box-shadow: -5px 5px 20px 10px #EAEAEA;
  border-radius: 20px;
  max-width: 375px;
  margin-top: 1rem;
}
.card .image__container {
  height: 150px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
.card .image__container img {
  position: relative;
  top: -4rem;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.card .image__container .img__2 {
  top: -10rem;
}
.card .image__container .img__4 {
  top: -4.5rem;
}
.card .card__sub {
  width: 100%;
  padding: 10px;
  color: black;
  margin: 0;
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card .card__sub h3 {
  font-family: "Roboto-Bold", Arial, Helvetica;
  margin: 0.2rem;
}
.card .card__sub p {
  font-family: "Roboto-Light", Arial, Helvetica;
  margin: 0.2rem;
}
.card .card__sub .far {
  font-size: 1.3rem;
  padding-right: 1rem;
}

.menu {
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  top: -40px;
  position: relative;
  padding: 0 1rem 0 1rem;
}
.menu__title {
  font-family: "Shrikhand", Arial, Helvetica;
  font-size: 1.9rem;
  padding: 0.42rem;
  padding-top: 1rem;
  font-weight: normal;
}

.block__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.plat {
  padding-top: 1.3rem;
}
.plat__title {
  font-family: "Roboto-Light", Arial, Helvetica;
  color: black;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.plat__title::after {
  display: block;
  position: relative;
  content: "";
  top: 5px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.plat__description {
  background-color: white;
  border-radius: 20px;
  margin-top: 1rem;
  box-shadow: 0px 0px 10px 3px #EAEAEA;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  height: 100%;
}
.plat__description h3 {
  font-family: "Roboto-Bold", Arial, Helvetica;
}
.plat__description .plat__detail {
  font-family: "Roboto-Light", Arial, Helvetica;
}
.plat__description .plat__price {
  font-family: "Roboto-Bold", Arial, Helvetica;
}
.plat__description .block__plat {
  width: 100%;
  padding: 1rem;
  height: 4.6rem;
}
.plat__description:hover::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.3rem;
  content: "";
  background-color: #99E2D0;
  color: white;
  height: 4.6rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
