@keyframes display-plats {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes display-core {
    from { opacity: 0}
    to { opacity: 1}
}

@keyframes remove-spinner {
    from { opacity: 1}
    to { opacity: 0}
}

@keyframes progress-heart {
    0% {
        transform: scaleY(0);
        transform: scaleX(0);
    }
    100% {
        transform: scaleY(1);
        transform: scaleX(1);
    }
}

@keyframes buttoncheck-background {
    from {
        width: 0%;
    }
    to {
        width: 25%;
    }
}

@keyframes buttoncheck-police {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
