@font-face {
    font-family: "Roboto-Medium";
    src: url("./asset/fonts/Roboto-Medium.ttf");
  }

@font-face {
    font-family: "Roboto-Bold";
    src: url("./asset/fonts/Roboto-Bold.ttf");
  }

@font-face {
    font-family: "Roboto-Light";
    src: url("./asset/fonts/Roboto-Light.ttf");
  }
  
@font-face {
    font-family: "Shrikhand";
    src: url("./asset/fonts/Shrikhand-Regular.ttf");
  }